<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Google Cloud Vision Sample</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <main class="main">
      <ol class="breadcrumb">
        <li class="breadcrumb-menu">
          <%= yield :breadcrumb_menu %>
        </li>
      </ol>
      <div class="container-fluid">
        <%= bootstrap_flash_messages %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
